# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
          push: true
          tags: tulajaram/githubactions:v3
    - name: Checkout Helm Chart Repo
      uses: actions/checkout@v4
      with:
        repository: Tulajaram12/helm  
        token: ${{ secrets.GIT_TOKEN }}
        path: webapp
    - name: Update Helm Chart Image Tag
      run: |
        sed -i 's|image:.*|image: tulajaram/githubactions:v3|' webapp/webapp/values.yaml
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
    - name: Commit and Push Updated Helm Chart
      run: |
        git status
        git add .
        git status
        git commit -m "Update Docker image tag to latest"
        git push https://x-access-token:${{ secrets.GIT_TOKEN }}@github.com/Tulajaram12/helm.git HEAD:main
        #env:
        #GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
  
        
    
        
  
